.cart{
    display: grid;
    grid-template-columns: 60px auto;
}
.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 50px;
}
.simple{
    background: none;
    border: none;
}

.information{
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
}

.imgdiv{
    border-radius: 40px;
}

.item{
    display: grid;
    grid-template-columns: 150px 200px;
}

.product{
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px;
}